#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use network installation
# url --url="http://mirror.yandex.ru/centos/7/os/x86_64"
# Use graphical install
# graphical
# Use text install
text
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=enp0s3 --noipv6 --activate

# Include pre hostname
%include /tmp/pre-hostname
# Hardcode hostname
# network  --hostname=centos-test.local

# Root password
rootpw password
# System services
services --enabled="chronyd"
# System timezone
timezone Europe/Moscow --isUtc
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --all --initlabel --drives=sda
# Reboot after install
reboot --eject

# Settings
# selinux --enforcing
# selinux --permissive
selinux --disabled

%packages
@^minimal
@core
chrony
kexec-tools
%end


%pre
echo "network --hostname=`echo centos-$RANDOM`" > /tmp/pre-hostname
%end

# %pre
# #!/bin/sh

# # echo "network --device eth0 --bootproto dhcp --hostname localhost.localdomain" > /tmp/network.ks
# echo "network --hostname localhost.localdomain" > /tmp/pre-hostname

# for x in `cat /proc/cmdline`; do
#         case $x in SERVERNAME*)
#                eval $x
#         echo "network --hostname ${SERVERNAME}" > /tmp/pre-hostname
#                 ;;
#             esac;
#     done
# %end


%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=50 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=50 --notstrict --nochanges --notempty
pwpolicy luks --minlen=6 --minquality=50 --notstrict --nochanges --notempty
%end
